python-portfolio/AI Assistant/.env
python-portfolio/Mashbot/.env
python-portfolio/Mashbot/.VENV
java-portfolio/pendragon/src/main/java/mashumelo/config.json
java-portfolio/pendragon/target/classes/mashumelo/config.json
.cache
